* {
  
    box-sizing: border-box;
    color: #ff7068;
    @media (mix-width: 800px) {
        .container {
            padding-left: 10em;
            padding-right: 10em;
        }
    }
}

html, body {
    margin: 10px; ;
    color: #ff7068;
}


header {
    display: flex;
    flex-direction: column;
    
    h1 {
        font-size: 60px;
        
      
    }

    nav {
        
            text-align: end;
            font-size: 18px;
            top: 10px;
            margin-left: 4.5px;
    
    }
    

}
   
a {
    margin-left: 20px;
    text-decoration: none;
}



.cardContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
   
    .eduction {
        img {
          height: 150px;
        }
      }
    
  
    
    
}   
img   {  
    height: 330px;
    margin-left: 15px;
    border-radius: 10px; 
   }




.GPA {
    img {
        height: 300px;
        margin-left: 15px;
      }
}


h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

