* {
  
    box-sizing: border-box;
    color: #ff7068;
    @media (mix-width: 800px) {
        .container {
            padding-left: 10em;
            padding-right: 10em;
        }
    }
}

html, body {
    margin: 10px; ;
    color: #ff7068;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
   
a {
    margin-left: 20px;
    text-decoration: none;
}




.cardContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
   
    
  
   
    
}   
img   {  
    height: 330px;
    margin-left: 15px;
   
   }

   .eduction {
    img {
      
      height: 120px;
    }
  } 


   .personal {
    img {
        border-radius: 20px;
    }
   }

   .Grade {
    img {
        height: 300px;
        margin-left: 15px;
      }
}


h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

h1 {
    font-size: 55px;
}

nav {
    text-align: end;
}

nav a {
    text-align: end;
    text-decoration: none;
    text-transform: capitalize;
    color: #ff7068;
    font-size: 19px;
    padding: 0 5px;
    margin: 0 5px;
    position: relative;
}
 
nav a:hover {
    color: #f50202c0;
   

}
nav a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ff7068;
    transition: all .5s;
    border-radius: 30px;
}
nav a:hover::before{
    width: 100%;
}