* {
  
    box-sizing: border-box;
    color: #ff7068;
    @media (mix-width: 800px) {
        .container{
        padding-left: 5em;
        padding-right: 5em;
    }
    }
 
}
@media (mix-width: 800px) {
    .container{
    padding-left: 5em;
    padding-right: 5em;
}
}
    

html, body {
    margin: 10px; ;
    color: #ff7068;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    

    nav {
        
           
            font-size: 20px;
            top: 10px;
            margin-left: 4.5px;
    
    }
    

}
a {
    margin-left: 20px;
    text-decoration: none;}


img{
    width: 50vw;
    
}