

main, footer {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 100;
    border-top: 1px solid black;

}
* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    color: #ff7068;
    background-color: rgba(255, 255, 255, 0.568);

   

}
   
@media (min-width:320px) and (max-width:1020px){
    .container{
       padding: 1px;
       margin: 1px;
    }
}



    header {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .section2 {
        display: flex;
       
    }
    




   h1 {
    font-size: 70px;
   
    margin-top: 23px;
    
   }
   
   


   .logo img{
    background-size: cover;
    width: 80%;
   }

   .header {
   img{
    
    background-size: cover;
    width: 100%;
    padding: 1px;
    object-fit: cover;
    border-radius: 15px;


   }    
}

    .contentPort {
        font-size: 45px;
    }

.one {
    color: #ff7068;
   

}
h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
 
nav {
    text-align: center;
}

nav a {
    text-align: end;
    text-decoration: none;
    text-transform: capitalize;
    color: #ff7068;
    font-size: 19px;
    padding: 0 5px;
    margin: 0 5px;
    position: relative;
}
 
nav a:hover {
    color: #f50202c0;
   

}
nav a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ff7068;
    transition: all .5s;
    border-radius: 30px;
}
nav a:hover::before{
    width: 100%;
}

.footerheaderBackground{
    display: flex;
    justify-content: center;
    
    text-align: center;
    width: 100% ;
    
}
.footerheaderBackground img {
    width: 40vw;
    background-size: cover;
    border-radius: 15px;
    border: 3px solid tan;
    margin: 5px;
    object-fit: cover;
}

