

main, footer {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 100;
    border-top: 1px solid black;

}
* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    color: #ff7068;

    @media (mix-width: 800px) {
        .container {
            padding-left: 10em;
            padding-right: 10em;
        }
    }

}
   




   

  

    nav {
        text-align: end;
        
        margin-left: 4.5px;
        font-size: 17px;
        
        
    }





    .heads {
       
        font-size: auto;
        color: #ff7068;
    }

   
   
    .logo {
        background-image: url(https://www.kmitl.ac.th/themes/custom/kmitl/logo.svg);
        width: 1em;
        height: 1em ;
        background-size: cover; 
        
        
        

         
    }



.headerbackground {
    background-image: url(https://www.kmitl.ac.th/sites/default/files/styles/banner_3_1/public/2021-12/kmitlweb01.jpg?itok=f5Vg9Fjo);
    height: 500px;
    background-size: cover;
    border-radius: 10px;
    padding: 1px;
   
    


}
.one {
    color: #ff7068;
   
    h1 {
        font-size: 60px;

    }

}
h2 {
    font-size: 40px;
}
p {
    font-size: 18px;
}